<nav class="navbar is-info">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('') }}">
            <img src="{{ url_for('static', filename='assets/image/LogoMenu.png') }}" width="112" height="28">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('') }}">
                Inicio
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Opções
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{{ url_for('admin.index') }}">
                        Perfil
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="butons">
                    <a class="button is-warning is-outlined" href="#">
                        <span class="icon">
                            <i class="fas fa-headset"></i>
                        </span>
                        <span><strong>Suporte</strong></span>
                    </a>
                    <a class="button is-warning is-outlined" href="{{ url_for('auth.logout') }}">
                        <span class="icon">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span>Sair</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>